<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthRegular</key>
	<dict>
		<key>username</key>
		<string>YourMangadexUsername</string>
		<key>password</key>
		<string>YourMangadexPassword</string>
		<key>type</key>
		<string>usernamePassword</string>
	</dict>
	<key>Auth2FA</key>
	<dict>
		<key>username</key>
		<string>YourMangadexUsername</string>
		<key>password</key>
		<string>YourMangadexPassword</string>
		<key>code</key>
		<string>YourTwoFactorAuthCode</string>
		<key>type</key>
		<string>twoFactor</string>
	</dict>
	<key>AuthToken</key>
	<dict>
		<key>token</key>
		<string>YourMangadexSecretToken</string>
		<key>type</key>
		<string>token</string>
	</dict>
	<key>AuthInvalid</key>
	<dict>
		<key>username</key>
		<string>InvalidAccount</string>
		<key>password</key>
		<string>WrongPassword</string>
		<key>type</key>
		<string>usernamePassword</string>
	</dict>
</dict>
</plist>
